.editIcon{
    padding-right: 15px;
    
}
.editIcon:hover , .deleteIcon:hover {
    cursor:pointer;
}
.search-box{
    width: 350px;
}
.previous{
    padding-right: 10px;
    color:black;
}
.next{
    padding-left: 10px;
}

.disabled{
    background-color: #f2f2f2;
    cursor: not-allowed; 
}
.active {
    background-color: #ffff66;
}
.reactUI{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}
.pagi{
    padding-left: 850px;
}
.total{
    padding-top: 100px;
}
.tagHeader :hover{
    cursor: pointer;
}

.footerContainer{
    padding-top: 15px;
}
.padding{
    padding-top: 6px;
}
.rghtPadding{
    padding-left: 375px;
}
.bgColor{
    background-color: #f0f3f5;
}

