.editIcon{
    padding-right: 15px;
    
}
.editIcon:hover , .deleteIcon:hover {
    cursor:pointer;
}
.search-box{
    width: 350px;
}

.pagination{
    padding : 50px 0 50px 0;

}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}





